* {font-family: "Roboto", sans-serif

}
body{
    transition: ease-in-out;
}
nav.navbar a{
    margin-right: 20px;
}
#navbarSupportedContent{
    text-transform: uppercase;
}
nav.navbar a:hover{
    background-color: rgba(0, 0, 0, 0.15);
}
#navbarSupportedContent .active{
    background: linear-gradient(
        45deg,
        hsla(209, 85%, 52%, 0.5),
        hsla(192, 88%, 45%, 0.5) 100%
      );
}
#home{
    background-color: lightskyblue;
}
#home a{
    position: relative;
    text-align: left;
    margin: auto;
}
.w3-display-container{
    position: relative;
    display:flex;
    flex-direction: column;
    margin-left: left;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,.2);
}
 .w3-display-container .imgBx{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 30px 80px;
     }
.w3-display-container .imgbx img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;  
    }
.about{
    
    background-color: lightskyblue;
    text-align: justify;
   

}
#about img{
    width: 300px;  
    margin-left: 50px;
    filter:sepia(100%);
    -webkit-filter: sepia(100%);
}
#about img:hover{
   
    filter:sepia(0);
}
.dropcap{
    padding-left: 5px;
    padding-right: 10px;
    float: left;
    position: relative;
    top: -0.35em;
    margin-bottom: -0.8em;
    margin-left: -6px;
    /* margin-right: 1px; */
    font-size: 100px;
    color: black;
}

#skills a.resume{
    text-decoration: none;
    
}
#skills h2, #skills p{
    width: 50%;
    margin: 10px auto;
}
#skills p{
    text-align: left;
}

#skilloverview .card{
    box-shadow: 0px 10px 15px rgba(66, 38, 38, 0.651);
    background: linear-gradient(
        45deg,
        hsla(209, 85%, 52%, 0.5),
        hsla(192, 88%, 45%, 0.5) 100%
      );
}
.card-body i{
    font-size: 50px;
}
#repo a{
    text-decoration:none;
    color: black;
    margin: 10px;
}
#email{
    color: blue;
 
}
.contact-icons{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
   
}
.contact-icons a{
    padding: 10px;
}
#contact form{
    text-align: center;
    width: 50%;
    box-shadow: rgba(66, 38, 38, 0.651);
    border: 1px solid salmon;
  
}
.profile-small{
    width: 80px;
    height: 80px;
    margin-top: 20px;

}

#recentprojects{
   margin: auto;
   
}

